nav {
  display: flex;
  width: 220vh;
  justify-content: space-around;
  height: 70px;
  z-index: 111;
}

.jumbotron {
  padding-top: 8rem;
  background-color: #e2edff;
}

#projects {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

.navbar-nav-ms-auto {
  display: flex;
}

.navbar-nav-ms-auto li a {
  margin: 0 15px;
}

.navbar-nav-ms-auto {
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: capitalize;
}
